<%- include('includes/header.ejs') %>
  <body>
    <form action="/posts/<%= post.id %>?_method=PUT" method="post">
      <h1>Edit your posts</h1>
      <h3>id: <%= post.id %></h3>
      <h4>username: @<%= post.username %></h4>
      <span>Followers: <%= post.followers %></span> &nbsp; &nbsp; &nbsp;
      <span>Following: <%= post.following %></span>
      <hr />
      <textarea name="content" rows="10" cols="50">
<%= post.content %></textarea
      >
      <br />
      <img src="<%= post.upload[0].image %>" alt="" /> <br />
      <button>save</button>
    </form>
  </body>
</html>
